@media (min-width: 768px) {
  .logo-container {
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .menu-container {
    display: none; /* Oculta el menú horizontal */
  }
  .mobile-menu {
    display: block; /* Muestra el icono de menú en móviles */
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none; /* Oculta el menú de móviles en pantallas grandes */
  }
}
